.container {
  float:left;
  width:100%;
}
.container > * {
  padding: 5px;
}
aside {
  float:left;
  width:20%;
  border: 1px solid #000;
}

section {
  float:left;
  /*width:60%;*/
  border: 1px solid #000;
}